.header_area {
    color:red;
    height: 80px;
    vertical-align: middle;

    text-align: center;
}
.introduction {
    font-size: 20;
    font-family: SimHei;
}


.height350 {
    height: 350px;
}

.height250 {
    height: 250px;
}

.height160 {
    height: 160px;
}